@font-face {
  font-family: "SB Sans Interface";
  src: url("SBSansInterface-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SB Sans Interface";
  src: url("SBSansInterface-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
