.btn {
  border: 0;
  border-radius: var(--corner-radius-default);
  cursor: pointer;
}

.filled {
  composes: btn;
  color: var(--default-light-color);
  background-color: var(--accent-color);
  padding: var(--gap-s) var(--gap-m);
}

.outline {
  composes: btn;
  color: var(--accent-color);
  background: transparent;
  padding: var(--gap-s) var(--gap-m);
}

.square {
  composes: btn;
  color: var(--accent-color);
  background: transparent;
  padding: var(--gap-s);
}
