.btn {
  border: 0;
  border-radius: var(--corner-radius-default);
  transition: all 0.5s;
  cursor: pointer;
}

.filled {
  composes: btn;
  color: var(--default-light-color);
  background-color: var(--accent-color);
  padding: var(--gap-s) var(--gap-m);

  &:hover {
    background-color: var(--accent-color-light);
  }
  &:active {
    background-color: var(--accent-color-dark);
  }
}

.outline {
  composes: btn;
  color: var(--accent-color);
  background: transparent;
  padding: var(--gap-s) var(--gap-m);
  border: 1px solid var(--accent-color);

  &:hover {
    color: var(--default-light-color);
    background-color: var(--accent-color-light);
  }
  &:active {
    background-color: var(--accent-color-dark);
  }
}

.square {
  width: 44px;
  height: 44px;
  composes: outline;
  padding: var(--gap-s);

  &:hover {
    background-color: var(--accent-color-lighter);
  }
}
