.textarea {
  position: relative;
  padding: var(--gap-s);
  border: 1px solid var(--input-border-color);
  border-radius: var(--corner-radius-default);
  resize: vertical;

  &::placeholder {
    color: var(--placeholder-color);
  }

  &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }

  &:disabled {
    background-color: var(--input-bg-color);
  }
}
