.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);

  .tip {
    color: var(--placeholder-color);
  }
}

.input {
  position: relative;
  width: 300px;
  padding: var(--gap-s);
  border: 1px solid var(--input-border-color);
  border-radius: var(--corner-radius-default);

  &::placeholder {
    color: var(--placeholder-color);
  }

  &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }

  &:disabled {
    background-color: var(--input-bg-color);
  }
}

.input_large {
  composes: input;
  width: 400px;
}

.textarea {
  composes: input;
  width: unset;
  resize: vertical;
}
.select_wrapper {
  width: 300px;
  border: 1px solid var(--input-border-color);
  border-radius: var(--corner-radius-default);
}

.select {
  composes: input;
  width: 298px;
  border: 0;
  color: inherit;
  border-right: var(--gap-s) solid transparent;
}
