@import url("./assets/fonts/fonts.scss");
@import url("./assets/styles/global.scss");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-main-color);
  background-color: var(--bg-main-color);
  font: var(--text-m-r);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style-type: none;
}

