:root {
  --default-light-color: #ffffff;
  --default-dark-color: #000000;
  --bg-main-color: #f4f4f5;
  --accent-color: #5558fa;
  --text-main-color: #333333;
  --step-text-color: #666666;
  --step-point-color: #a6a6a6;
  --control-color: #b3b3b3;
  --folder-color: #cccccc;
  --success-color: #05ae71;
  --error-color: #e84e58;
  --avatar-text: #212830;
  --avatar-bg: #d5e4f7;

  --gap-xxs: 4px;
  --gap-xs: 8px;
  --gap-s: 12px;
  --gap-m: 16px;
  --gap-default: 24px;
  --gap-l: 32px;
  --gap-xl: 48px;
  --gap-xxl: 64px;
  --gap-xxxl: 80px;
  --gap-layout: 110px;

  --corner-radius-default: 4px;

  --text-s: 0.75rem;
  --text-m: 0.875rem;
  --text-l: 1.25rem;
}
